language: node_js
sudo: false
node_js:
  - 7
  - 6
  - 4
git:
  depth: 10
branches:
  only:
    - master
before_install:
  - nvm use $TRAVIS_NODE_VERSION
  - npm set loglevel error
  - npm set progress false
